
{% extends 'backtemplate/outilsback.html.twig'%}
{% block title %} Outils {% endblock %}

{% block body %}
    <h1>Outils</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ outil.id }}</td>
            </tr>
            <tr>
                <th>Label_out</th>
                <td>{{ outil.labelOut }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ outil.quantite }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img id="img"  class="card-img-top img-fluid" style="height: 150px; width:250px;" src="/uploads/{{outil.image}}"></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_outils_index') }}">back to list</a>

    <a href="{{ path('app_outils_edit', {'id': outil.id}) }}">edit</a>

    {{ include('outils/_delete_form.html.twig') }}
{% endblock %}
